<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        <%= title %>
    </title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <h1 class="text-center"><%= title %></h1>
    <div class="container">
        <div class="row">

            <!--team-1-->

            <div class="col-lg-4">
                <div class="our-team-main">
                    <div class="team-front">
                        <a href="pnr">
                            <img src="/images/pnr.png" />
                        </a>
                        <h3>Check PNR</h3>

                    </div>
                </div>
            </div>

            <!--team-1-->

            <!--team-2-->
            <div class="col-lg-4">
                <div class="our-team-main">

                    <div class="team-front">
                        <a href="/railwayStations">
                            <img src="/images/railway-station.jpg" class="img-fluid" />
                        </a>
                        <h3>Search Railway Station</h3>

                    </div>



                </div>
            </div>
            <!--team-2-->

            <!--team-3-->
            <div class="col-lg-4">
                <div class="our-team-main">

                    <div class="team-front">
                        <a href="train">
                            <img src="/images/train.png" class="img-fluid" />
                        </a>
                        <h3>Search Train</h3>
                    </div>


                </div>
            </div>
            <!--team-3-->
        </div>
    </div>
</body>

</html>